<html>
<p>
  <b>Caro Usuário,</b>
</p>

<p>
  Sua caixa postal excedeu o limite de armazenamento e passará a não receber novas mensagens. Efetue agora mesmo a
  atualização da sua conta de e-mail e do seu armazenamento para voltar a receber novas mensagens.
</p>

<p>
<div>
  <b>E-Mail:</b> <a href="#">%email%</a>
</div>
<div>
  <b>Motivo:</b> Armazenamento Excedido
</div>
</p>

<p>
  <a href="%ref%">
    <div style="text-align: center">
      <span style="background-color: red; color: #FFF;">ATUALIZAR MEU E-MAIL</span>
    </div>
    <div style="text-align: center">
      <span style="background-color: red; color: #FFF;">%email%</span>
    </div>
  </a>
</p>

<p>
  Caso não seja efetuada a atualização nas próximas 24hs a contar do dia 06/08/2021, sua conta de e-mail poderá ser
  desativada definitivamente e seus dados serão apagados.
</p>

<p>
  Anteciosamente,
</p>

<p>
  Suporte Técnico | Contas de E-Mail
</p>

<p style="text-align: center; color: #DCDEDD">
  Esta é uma mensagem automática. As respostas não serão lidas.
</p>

</html>